django_svelte_profile.bash
django_svelte_venv/

# web
frontend/web/node_modules/*
frontend/web/build/*
# mobile
frontend/mobile/node_modules/*
frontend/mobile/build/*
frontend/mobile/hooks/*

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Code python.env
.vscode/python.env
